* {
     /* background-color: cadetblue;  */
     box-sizing: border-box;
}
body {
     background-image: url(./images/LyricAllyLogo.jpg);
     background-size:cover;
     background-repeat: no-repeat;    
}
.nav-wrapper {
     background-color: #26a69a;
}
a.brand-logo {
     width: 125px;
     align-items: center;
     display: flex;
}
.row {
     display: flex;
     justify-content: center;
}
.responsive-img {
     display: flex;
     align-items: center;
}


@media screen { 
/* need at 800px and 400px */
}