* {
     background-color: cadetblue;
     box-sizing: border-box;
}
.brand-logo {
     width: 100px;
     align-items: center;
     display: block;
}
.row {
     display: flex;
     justify-content: center;
}
.responsive-img {
     align-items: center;
}


@media screen { 
/* need at 800px and 400px */
}